.app-container {
  max-width: 1010px;
  min-width: 420px;
  height: auto;
  background: #ffffff;
  padding: 13px 36px;
  margin: 0 auto
}

@media (max-width: 426px) {
  .app-container {
    padding: 0 16px 
  }
}

.app-container .ant-layout {
  min-height: 100vh;
  background-color: #ffffff;
}

html {
  background: #e5e5e5;
}

.spin-1 {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.spin-2 {
  margin: 20px 0;
  padding: 30px 50px;
  text-align: center;
}
